.parent {
  height: 300px;
  background: blue;
  position: relative;
}

.child {
  background-color: red;
  width: 100px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
